@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gunmetal: #2A2D34;
  --celestial-blue: #009DDC;
  --giants-orange: #F26430;
  --ultra-violet: #6761A8;
  --shamrock-green: #009B72;
}

body {
  background-color: var(--gunmetal);
  color: var(--celestial-blue);
  margin: 0;
}
